/* ----------------------------------------------------------- */
/*  COLORS
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/*  MEDIA QUERIES SETTINGS
/* ----------------------------------------------------------- */
/* Jake's add-ons */
/* line 50, ../sass/style.scss */
.no-side-pad {
  padding-left: 0px;
  padding-right: 0px;
}

.light {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;

}

.divider {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  position: relative;
  top: 3px;

}

/* line 55, ../sass/style.scss */
.global-container {
  background: purple;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#416db6, #7b4a9c);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#416db6, #7b4a9c);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#416db6, #7b4a9c);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#416db6, #7b4a9c);
  /* Standard syntax */
}

/* line 62, ../sass/style.scss */
.chat-container {
  background: orange;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#e0b528, #f0612a);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e0b528, #f0612a);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#e0b528, #f0612a);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#e0b528, #f0612a);
  /* Standard syntax */
}

/* line 69, ../sass/style.scss */
.market-container {
  background: green;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#55ba47, #097836);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#55ba47, #097836);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#55ba47, #097836);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#55ba47, #097836);
  /* Standard syntax */
}

/* line 76, ../sass/style.scss */
.outlet-container {
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#f47521, #b21f29);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f47521, #b21f29);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f47521, #b21f29);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f47521, #b21f29);
  /* Standard syntax */
}

/* line 83, ../sass/style.scss */
.water-container {
  background: darkblue;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#25aae1, #1067a4);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#25aae1, #1067a4);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#25aae1, #1067a4);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#25aae1, #1067a4);
  /* Standard syntax */
}

/* line 90, ../sass/style.scss */
.travel-container {
  background: lightblue;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#b6c99d, #1ba99e);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#b6c99d, #1ba99e);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#b6c99d, #1ba99e);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#b6c99d, #1ba99e);
  /* Standard syntax */
}

/* line 97, ../sass/style.scss */
.air-container {
  background: purple;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#9f1f63, #672d91);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#9f1f63, #672d91);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#9f1f63, #672d91);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#9f1f63, #672d91);
  /* Standard syntax */
}

/* line 104, ../sass/style.scss */
.learning-container {
  background: green;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#d7df21, #8dc63f);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#d7df21, #8dc63f);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#d7df21, #8dc63f);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#d7df21, #8dc63f);
  /* Standard syntax */
}

/* line 111, ../sass/style.scss */
.homes-container {
  background: #0b9446;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#0b9446, #177da6);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0b9446, #177da6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0b9446, #177da6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#0b9446, #177da6);
  /* Standard syntax */
}

/* line 118, ../sass/style.scss */
.ads-container {
  background: #ec3f39;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ec3f39, #7a2e85);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ec3f39, #7a2e85);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ec3f39, #7a2e85);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ec3f39, #7a2e85);
  /* Standard syntax */
}

/* line 125, ../sass/style.scss */
.agency-container {
  background: #e6767d;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#e6767d, #b01b29);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e6767d, #b01b29);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#e6767d, #b01b29);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#e6767d, #b01b29);
  /* Standard syntax */
}

/* line 132, ../sass/style.scss */
.insurance-container {
  background: #8dc63f;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#8dc63f, #eeb362);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#8dc63f, #eeb362);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#8dc63f, #eeb362);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#8dc63f, #eeb362);
  /* Standard syntax */
}

/* line 139, ../sass/style.scss */
.capital-container {
  background: #4da397;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#4da397, #12596c);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4da397, #12596c);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4da397, #12596c);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4da397, #12596c);
  /* Standard syntax */
}

/* line 146, ../sass/style.scss */
.tech-container {
  background: #1773ba;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1773ba, #623795);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1773ba, #623795);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1773ba, #623795);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1773ba, #623795);
  /* Standard syntax */
}

/* line 158, ../sass/style.scss */
.main-image {
  max-width: 200px;
}
@media (max-width: 767px) {
  /* line 158, ../sass/style.scss */
  .main-image {
    max-width: 150px;
    margin: 50px;
  }
}

/* line 166, ../sass/style.scss */
.miyu-global-bg {
  background: url("") no-repeat center center;
  background-size: cover;
  padding: 100px;
  height: 500px;
}
/* line 171, ../sass/style.scss */
.miyu-global-bg p {
  font-size: 20px;
  color: white;

}
@media (max-width: 992px) {
  /* line 166, ../sass/style.scss */
  .miyu-global-bg {
    padding: 50px;
  }
}
@media (max-width: 767px) {
  /* line 166, ../sass/style.scss */
  .miyu-global-bg {
    height: 350px;
    padding: 25px;
  }
  /* line 180, ../sass/style.scss */
  .miyu-global-bg p {
    font-size: 16px;
  }
}

/* Text colors */
/* line 187, ../sass/style.scss */
.text-white {
  color: #fff;
}

/* Custom Presets */
/* line 192, ../sass/style.scss */
.vertical-align {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  /* line 192, ../sass/style.scss */
  .vertical-align {
    display: block;
  }
}

/* line 200, ../sass/style.scss */
.width-100 {
  width: 100%;
}
